@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind yoksa bile en azından beyaz ekran olmasın diye: */
html, body { margin: 0; padding: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial; }